body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background: #f7f7f7;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}
.menu a:hover {
  border: 2px solid #e21;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 20px;
  line-height: 1.3;
}
.header {
  display: grid;
  justify-items: center;
  gap: 60px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.menu a {
  display: block;
  background: #ffffff;
  padding: 15px 30px;
  border-radius: 4px;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #ffffff;
}

.conteiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background-color: #fff;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: end;
}

.detalhe {
  width: 60px;
  height: 4px;
  background-color: #eb1f10;
  position: absolute;
  top: 30px;
  right: -30px;
}
.botao {
  background-color: #eb1f10;
  color: rgb(255, 255, 255);
  padding: 15px 30px;
  border-radius: 4px;
  text-decoration: none;
}
.botao:hover {
  background: #900;
}
.subtitulo {
  font-size: 64px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 40px;
  align-self: center;
}

.vantagens {
  background-color: #ffff;
  padding: 40px;
}
.vantagens-itens {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
  border: 4px solid #ffffff;
}

.vantagens-itens p {
  grid-column: 2;
}

.vantagens-itens:hover {
  border-left: 4px solid #eb1f10;
}
.rodape {
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 40px;
}

@media (max-width: 600px) {
  .conteiner {
    grid-template-columns: 1fr;
  }
}
